[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gtfsio"]
	path = gtfsio
	url = https://github.com/r-transit/gtfsio
[submodule "tidytransit"]
	path = tidytransit
	url = https://github.com/r-transit/tidytransit
